output/model_final.pth
output2/model_final.pth
.idea/workspace.xml
text_detection_model/model_final.pth
detection/data
logs/
__pycache__/
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/


# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

